Programming Languages used in Machine Learning:
 1. Python
 2. R

# Print Function

In [1]:
print('Machine Learning')

Machine Learning

In [2]:
print("Machine Learning")

Machine Learning

In [4]:
print('Machine Learning") # it will throw an error

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-4-7150d2c6d38d>, line 1)

In [5]:
print('Machine Learning' + ' Projects')

Machine Learning Projects

In [6]:
print('Machine Learning', 'Projects')

Machine Learning Projects

In [7]:
print(8)

8

In [8]:
print(8 + 2)

10

# Basic Data types:
 1. int
 2. float
 3. str

In [9]:
type(32)

int

In [10]:
type(3.8)

float

In [11]:
type('Saurabh')

str

# Constants and Variables

In [12]:
super_man = "Shaktiman"
print(super_man)

Shaktiman

In [13]:
print(super_man)
super_man = "Saurabh"
print(super_man)

Shaktiman
Saurabh

In [15]:
hero1, hero2, hero3 = "Saurabh", "Kumar", "Yadav"
print(hero1)
print(hero2)
print(hero3)

Saurabh
Kumar
Yadav

In [17]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

# Input Function
In Python input() function retuns a string value. So if we want to input a number we have to use typecasting to convert string to integer.

In [18]:
number_1 = int(input("Enter the first number: "))
number_2 = int(input("Enter the second number: "))
sum = number_1 + number_2
print(sum)

Enter the first number: 32
Enter the second number: 30
62

In [20]:
# changing the data type in Python:
num = 5
print(type(num))
print(float(num))

<class 'int'>
5.0